<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.uctennis.tournament.domain.mapper.ext.ExtEntriesMapper">
    <select id="selectByEmail" resultType="club.uctennis.tournament.domain.model.Entries">
        SELECT * FROM entries WHERE email = #{email,jdbcType=VARCHAR}
    </select>
</mapper>