<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.uctennis.tournament.domain.mapper.ext.ExtOnetimeTokensMapper">
    <resultMap id="BaseResultMap" type="club.uctennis.tournament.domain.model.OnetimeTokens">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pre_entry_id" jdbcType="INTEGER" property="preEntryId" />
        <result column="token" jdbcType="VARCHAR" property="token" />
        <result column="limited_date" jdbcType="TIMESTAMP" property="limitedDate" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="edit_date" jdbcType="TIMESTAMP" property="editDate" />
    </resultMap>

    <select id="selectValidByToken" resultMap="BaseResultMap">
        SELECT * FROM onetime_tokens WHERE token = #{token} and limited_date >= #{now};
    </select>
</mapper>